<!DOCTYPE html>
html(lang="es")
head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Tipe, Recogida de datos en Servicio Servidor Directo
    script(src='https://code.jquery.com/jquery-1.8.3.min.js', integrity='sha256-YcbK69I5IXQftf/mYD8WY0/KmEDCv1asggHpJk1trM8=', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.js')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
body
    block content